# For a given domain, the agent expects variables in this format
# domain: example.de
#   username: EXAMPLE_DE_USERNAME
#   email: EXAMPLE_DE_EMAIL
#   password: EXAMPLE_DE_PASSWORD

EXAMPLE_COM_EMAIL=
EXAMPLE_COM_PASSWORD=
